body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

#colorStage {
    height: 400px;
}

img {
    height: 400px;
}

.tImage {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px; 
  cursor: pointer; 
}

.tImage.active {
  border: 3px solid #47bfff; 
  box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
}

.controls {
  text-align: center;
  margin-top: 1rem;
}

.controls button {
  padding: 0.5rem 1rem;
  margin: 0 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  background-color: transparent;
  border: 3px solid #47bfff;
  color:#47bfff;
}

#completeBtn:disabled {
  background-color: transparent;
  border: 3px solid #838383;
  color: #838383;
  cursor: not-allowed;
}

#completeBtn {
  padding: 0.5rem 1rem;
  margin: 0 0.5rem;
  font-size: 1rem;
  border: 3px solid #47bfff;
  color:#ffffff;
  background-color: #83ccf4;
  cursor: pointer;
}

main {
    align-items: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #81d1ff;
  padding: 1rem 2rem;
  color: white;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav-links a {
  color: white;
  text-decoration: none;
}

.thumbnails {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 2rem;
}

.main-content {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.content-box {
  width: 80%;
  height: 300px;
  background-color: #ddd;
}

.mainPhoto {
  display: flex;
  justify-content: center;
  padding: 2rem;
  
}

.contentBox {
  height: 300px;
  background-color: #ffffff;
  object-fit: cover;
  border-radius: 8px;
  cursor: pointer;
}


